$accentColor: #FFCC0D;
$accentDarkColor: #ffcb0da8;
$mainBgColor: #FFFFFF;
$mainColor: #000;
$mainLightColor: #E2E2E2;
$linkColor: blue;
$errorColor: red;
$linkOtherColor: #969292;
$mainButtonColor: #8EC536;
$mainLightButtonColor: #aef044;
$mainDarkButtonColor: #749e30;
$secondButtonColor: #08c;

