.action-block {
	padding: 30px 0;
	background: url("../img/bg-action-30-2.jpg") center / cover no-repeat;
	// .action-block__wrapper
	&__wrapper {
	color: $mainBgColor;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 350px;

	@media (max-width: $pc) {
		min-height: calc(270px + 80*((100vw - 480px) / (1260 - 480)));
		}
	}

	// .action-block__subtitle

	&__subtitle {
		text-align: center;
		max-width: 600px;
		text-shadow: 0 0 25px $mainColor;
	}

	&__text {
		font-size: 18px;
		letter-spacing: 0.9px;	
		text-transform: lowercase;
		color: $accentColor;

		@media (max-width: $pc) {
			font-size: calc(16px + 2*((100vw - 320px) / (1260 - 320)));
		}
	}

	// .action-block__btn

	&__button {
		color: $mainColor;
	}

}

.action-block__text.action-block__text--white {
	color: $mainBgColor;
}

.action-block__button-order {
	transition: color 0.3s ease, 
					background-color 0.3s ease, 
					border-color 0.3s ease,
					transform 0.8s ease 0.3s, 
					opacity 0.8s ease 0.3s;
}

@media (any-hover: hover) {
	.action-block__button-order:hover {
		background-color: $mainLightButtonColor;
		color: $linkOtherColor;
		border-color: $mainDarkButtonColor;
	}	

	button.action-block__button:hover {
		background-color: $accentDarkColor;
		color: $accentColor;		
	}	
}
