// gallery
.gallery {
	padding: 160px 0 40px;
      
	@media (max-width: $tablet) {
      padding: 140px 0 40px;
   }

   @media (max-width: $mobileSmall) {
      padding: 100px 0 20px;
   }

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-bottom: 4px solid $mainColor;

      @media (max-width: $tablet) {
         border-width: 3px;
      }
	}

   &__title {
		text-align: center;

		&::after {
			left: 20%;
      }
	}

	&__text {
		text-align: center;
	}	
}

