// contract
.garantiya {
	padding: 140px 0 20px;   
   
   @media (max-width: $tablet) {
      padding: 100px 0 20px;
   }

   @media (max-width: $mobileSmall) {
      padding: 90px 0 0;
   }

	&__container {
		margin-bottom: 80px;

		@media (max-width: $pc) {
			margin-bottom: calc(50px + 30*((100vw - 478px) / (1260 - 478)));
		} 
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__title {
		align-self: center;

		&::after {
			left: 20%;
      }
	}   
}
