//home
.home {
   min-height: 100vh;
   display: flex;
	padding: 85px 0 40px;	

	@media (max-width: $tablet) {
		margin-bottom: 0;
	} 

	@media (max-width: $mobileSmall) {
		padding: 75px 0 20px;
	}

   &__wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;     
      border-bottom: 4px solid $mainColor; 
      
      @media (max-width: 1024px) and (min-aspect-ratio: 3/2), (max-width: 380px) {
         padding: 40px 0 50px;
        }
      
      @media (max-width: $tablet) {
         border-width: 3px;
      } 
		
		@media (max-width: $mobileSmall) {
         align-items: start;
      } 
   }

   &__content {
      display: flex;
	
      @media (max-width: $tablet) {
         flex-direction: column;
      }
   }

   &__text-box {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
     
      @media (max-width: $tablet) {
         padding: 0;
			align-self: flex-start;
      }
   }

   &__title {
      margin-bottom: 65px;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		
      &::after {
         left: 0;
      }

		@media (max-width: $mobileSmall) {
			margin-bottom: 30px;
		}
   }

	&__text-description {
		opacity: 0;
		transform: translateY(50px);
		margin-bottom: 20px;

		@media (max-width: $pc) {
         margin-bottom: calc(10px + 10*((100vw - 320px) / (1260 - 320)));
      }
	}

 	&__text-name {
		opacity: 0;
		transform: translateY(30px);
		margin-bottom: 20px;
	}

	&__title._watcher-view, &__text-description._watcher-view, &__text-name._watcher-view  {
		opacity: 1;
		transform: translateY(0);
	}

	&__title._watcher-view {
		transition: transform 1.3s ease 0s, opacity 1.3s ease 0s;
	}

	&__text-description._watcher-view {
		transition: transform 1.2s ease 0.4s, opacity 1.2s ease 0.4s;
	}

	&__text-name._watcher-view {
		transition: transform 1.1s ease 0.8s, opacity 1.1s ease 0.8s;
	}

	&__img-box {
      flex: 0 1 50%;
      display: flex;
      justify-content:center; 
		padding:0 40px 0 20px;

	   @media (max-width: $tablet) {
         margin-bottom: 70px;
			padding: 0;
      }

		@media (max-width: $mobile) {
         margin-bottom: 55px;
      }
		@media (max-width: $mobileSmall) {
         margin-bottom: 40px;
      }
   }

   &__img-inner {
      position: relative;   
   }

   &__border-block {
      position: relative;
      padding: 20px;
      border: 10px solid $mainColor;
      background-color: transparent;
      z-index: 2;

      @media (max-width: $tablet) {
         border-width: 7px;
      }

		@media (max-width: $mobile) {
         border-width: 6px;
      }

      @media (max-width: $mobileSmall) {
         border-width: 5px;
      }

		@media (max-width: $mobile) {
			padding: calc(10px + 10*((100vw - 320px) / (1260 - 320)));
		} 
   }

   &__img-wrapper {
      max-width: 450px;
		max-width: calc(370px + 80*((100vw - 1500px) / (1920 - 1500)));

		@media (max-width: 1500px) {
         max-width: 370px;
      }

		@media (max-width: $tablet) {
         max-width: 350px;
      }

      @media (max-width: $mobile) {
         max-width: 300px;
      }

		@media (max-width: $mobileSmall) {
         max-width: 200px;
      }
   }

   &__img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 10;
   }

   &__color-block {     
      position: absolute;
      top: 14%;
      bottom: 14%;
      left: -4%;
      right: -4%;
      z-index: 1;     
      background-color: $accentColor;
	}	
}




