//skills
.skills {
   padding: 160px 0 40px;
 
	@media (max-width: $tablet) {
      padding: 140px 0 40px;
   }

   @media (max-width: $mobileSmall) {
      padding: 100px 0 20px;
   }

   ul li {
      list-style: square;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainColor;

      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
     
      &::after {
         left: 17%;
      }
   }

   &__content {
      max-width: 800px;
      
      @media (max-width: $pc) {
         max-width: calc(290px + 510*((100vw - 320px) / (1260 - 320)));
      }

      @media (max-width: $mobile) {
         width: 100%;
      }
   }

   &__progress-bar {
      margin-bottom: 20px;

      .progress {
         &__item {
            width: 100%;
            margin-bottom: 15px;
            border: 3px solid $mainColor;
            padding: 7px;
            @include font(20px, 500, 170%);

            @media (max-width: $pc) {
               font-size: calc(13px + 7*((100vw - 320px) / (1260 - 320)));
            }

            @media (max-width: $mobile) {
               border: 2px solid $mainColor;
               margin-bottom: 12px;
               padding: 5px;
            }
         }

         &__item-inner {
            width: 100%;
            position: relative;
         }

         &__subtitle {
            position: relative;
            display: inline-block;
            z-index: 2;
            padding-left: 15px;

            @media (max-width: $pc) {
               padding-left: calc(5px + 10*((100vw - 320px) / (1260 - 320)));
            }
         }

         &__bg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
         }

         &__bg._watcher-view {
            &::after {
               content: "";
               position: absolute;
               top: 0;
               bottom: 0;
               left: 0;
               background-color: $accentColor;
               z-index: 1;
               animation: progressLine 3s cubic-bezier(.165, .84, .44, 1) forwards;
               animation-delay: 0.8s;
            }
         }

         &__bg-1 {
            width: 90%;
         }

         &__bg-2 {
            width: 80%;
         }

         &__bg-3 {
            width: 40%;
         }

         &__bg-4 {
            width: 50%;
         }

         &__bg-5 {
            width: 40%;
         }

         &__bg-6 {
            width: 20%;
         }

         &__bg-7 {
            width: 30%;
         }

         &__bg-8 {
            width: 70%;
         }

         &__bg-9 {
            width: 20%;
         }

         &__percent {
            position: absolute;
            top: 0;
            right: -50px;
            z-index: 2;
            transform: scale(0);

            @media (max-width: $pc) {
               right: calc(-30px - 20*((100vw - 320px) / (1260 - 320)));
            }
         }

         &__percent._watcher-view {
            animation: percent 1.5s cubic-bezier(.165, .84, .44, 1) forwards;
            animation-delay: 2.5s;
         }
      }
   }

   &__list {
      max-width: 790px;
      width: 100%;
      padding: 0 25px;

      @media (max-width: $pc) {
         padding-left: calc(17px + 8*((100vw - 320px) / (1260 - 320)));
         padding-right: calc(17px + 8*((100vw - 320px) / (1260 - 320)));
      }
   }
}

@keyframes progressLine {
   from {
      width: 0;
   }

   to {
      width: 100%;
   }
}

@keyframes percent {
   from {
      transform: scale(0);
   }

   to {
      transform: scale(1);
   }
}