//skills
.skills {
   padding: 90px 0 90px;

   @media (max-width: $tablet) {
      padding: 70px 0 70px;
   }

   @media (max-width: $mobileSmall) {
      padding: 50px 0 50px;
   }

   ul li {
      list-style: square;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;      
   }

   &__title {
      &::after {
         left: 17%;
      }
   }

   &__content {
      max-width: 800px;

      @media (max-width: $pc) {
         max-width: calc(290px + 510 * ((100vw - 320px) / (1260 - 320)));
      }

      @media (max-width: $mobile) {
         width: 100%;
      }
   }

   &__list {
      max-width: 790px;
      width: 100%;
      padding: 0 25px;

      @media (max-width: $pc) {
         padding-left: calc(17px + 8 * ((100vw - 320px) / (1260 - 320)));
         padding-right: calc(17px + 8 * ((100vw - 320px) / (1260 - 320)));
      }
   }
}


